<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <test name="Test Basics 1">
        <parameter name="Browser" value="firefox"/>

        <classes>
            <class name="testPackage.DriverTest"/>
        </classes>
    </test> <!-- Test -->


</suite> <!-- Suite -->